{% extends '../../base.html' %}
{% load static %}

{% block content %}
<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          <h3 class="card-title">{{titulo_card}}</h3>
        </div>  
        <div class="col-md-6">
          {% if bt_novo %}
            <a href="{{url_cadastro}}" class='btn btn-success' style='float: right;'>{{descricao_botao_novo}}</a>
          {% endif %}
        </div>  
      </div>
      
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            {% for coluna in colunas %}
              <th>{{coluna}}</th>
            {% endfor %}
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for values in datas_values %}
            <tr>
                {% for value in values %}
                <td>{{ value }}</td>
                {% endfor %}
              <td>
                <div class="row marcador align-items-center">
                  {% if aprovar %}
                  <div class="col-lg-3 mx-auto text-center">
                    <a href="{{url_aprovar}}/{{values.0}}" class='fas_hover'>
                      <i class="fas fa-thumbs-up" style="color: green;"></i>
                    </a>
                  </div>
                  {% endif %}
                  {% if recusar %}
                  <div class="col-lg-3 mx-auto text-center">
                    <a href="{{url_recusar}}/{{values.0}}" class='fas_hover'>
                      <i class="fas fa-hand-paper" style="color: red;"></i>
                    </a>
                  </div>
                  {% endif %}
                  {% if editar %}
                  <div class="col-lg-3 mx-auto text-center">
                    <a href="{{url_update}}/{{values.0}}" class="fas_hover">
                      <i class="fas fa-pencil-alt" style='color: #070454;'></i>
                    </a>
                  </div>
                  {% endif %}
                  {% if excluir %}
                  <div class="col-lg-3 mx-auto text-center">
                    <a href="{{url_delete}}/{{values.0}}" class='fas_hover'>
                      <i class="fas fa-times-circle" style="color: blue;"></i>
                    </a>
                  </div>
                  {% endif %}
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            {% for coluna in colunas %}
              <th>{{coluna}}</th>
            {% endfor %}
            <th>Ações</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
{% endblock content %}